:root {
  --orange: #ff7e00;
  --red: #ff0000;
  --black: #000000;
  --light-white: #ffffffb5;

  /* Fonts */
  --cursive1: "Kalam", cursive;
  --cursive2: "Tangerine", cursive;
  --monospace: "Inconsolata", monospace;
  --serif: "Roboto Slab", serif;
  --san-serif-1: "Titillium Web", sans-serif;
  --san-serif-2: "Ubuntu", sans-serif;
}
body {
  position: relative;
  color: rgb(233 233 233);
}
/* Track */
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 1px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ff7e00;
}
a {
  text-decoration: none;
}
#front-page {
  height: 100vh;
  background-image: linear-gradient(90deg, transparent, rgba(255, 0, 0, 0.711));
}
nav {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
  /* background-color: rgba();
  backdrop-filter: blur(2px); */
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.27);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  /* border: 1px solid rgba(255, 169, 169, 0.85); */
}
.rainbow-neon {
  font-size: 5rem;
  background-image: linear-gradient(45deg, #f3626b, #6181ff, #a25bf2, #ffc100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-keyframe 3s linear infinite;
}
@keyframes rainbow-keyframe {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.brand-icon {
  width: 40px;
  margin-bottom: 2px;
}
#sfit-logo {
  margin-right: 10px;
}
.navbar-brand {
  font-family: var(--monospace);
  font-size: 2.1rem;
  letter-spacing: 5px;
}
.navbar-brand::after {
  content: "mazing";
  font-size: 1.3rem;
}
#particles-js {
  z-index: -1000;
}
.nav-link {
  font-family: var(--san-serif-2);
  font-size: 1.3rem;
}
#itsa-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#itsa-logo img {
  width: 25rem;
}

section.section {
  padding: 3rem 4rem 6rem;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(3.5px);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.597);
}

/* ABOUT US */
#about-us {
  background: #00000005;
}
.section-title {
  font-family: var(--serif);
  font-weight: 600;
  color: rgb(233 233 233);
}
#about-us hr {
  color: rgb(238, 221, 221);
  background-color: white;
  height: 3px;
}
.about-us-info img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.48);
  border: 1.5px solid rgba(255, 255, 255, 0.85);
}
.about-us-info div.title {
  font-family: var(--monospace);
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px black;
  margin-bottom: 2rem;
  color: #da0808;
}
.about-us-info div.title h3 {
  font-size: 2.3rem;
  color: #ff0000;
}
.about-us-info .about-itsa {
  display: flex;
  align-items: center;
}
.about-us-info .about-itsa p {
  color: rgb(223, 223, 223);
  font-family: var(--san-serif-2);
  font-size: 1.4rem;
}
#about-us .more-info {
  margin-top: 1.5rem;
}
#about-us .more-info h3 {
  /* color: #ff0000; */
  transition: linear 0.2s;
}
#about-us .more-info-container {
  padding: 1rem;
  transition: linear 0.2s;
}
#about-us .more-info-container p {
  font-size: 1.1rem;
}
#about-us .more-info img {
  width: 100%;
  aspect-ratio: 8/5;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.48);
  /* border: 1.5px solid rgba(255, 255, 255, 0.85); */
}
#about-us .more-info-container:hover {
  transform: scale(1.1);
}
#about-us .more-info-container:hover > h3 {
  color: #ff0000;
}

#events {
  background-image: linear-gradient(90deg, transparent, rgba(255, 0, 0, 0.711));
}
.carousel-container {
  padding: 2rem 9rem 3rem 9rem;
}
.carousel-container-rel {
  position: relative;
}
.carousel-container img {
}
.carousel-container .carousel-info h3 {
  margin-top: 0.8rem;
  text-align: center;
}
.carousel-container .carousel-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-weight: 500;
  font-size: 1.9rem;
  bottom: 0;
  transition: linear 0.15s;
}
.carousel-container li {
  font-size: 1.3rem;
}
.carousel-container .carousel-info div {
  display: none;
  transition: linear 0.2s;
}
.carousel-container-rel {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.48);
  border: 1.5px solid rgba(255, 255, 255, 0.85);
}
.carousel-container-rel:hover > .carousel-info div {
  display: block;
}
.carousel-container-rel:hover > .carousel-info {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  #about-us {
    padding: 2rem;
  }
}
@media screen and (max-width: 645px) {
  nav.navbar {
    padding: 1rem !important;
  }
  #itsa-logo img {
    width: 20rem;
  }
}
@media screen and (max-width: 476px) {
  .navbar-brand::after {
    content: "";
  }
  #about-us {
    padding: 1rem;
  }
}
